@page "/sales"

<h3>Sales Component</h3>
<br />
<br />
@*this comp is created and reference in shared.imports.razor*@
<DateComponent></DateComponent>

<br />
<br />
@*can use page component inside page component*@ 
<Counter></Counter>
@code {

}
